<!DOCTYPE html>
<html>
    <head>
        <h1>
            Delete Book
        </h1>
    </head>
    <body>
        <p>Are you sure you want to delete {{book_title}}?</p>
		<form action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST' id = 'Delete Book'>
			<input type='submit' form = 'Delete Book' value='Delete'>
            <a href="{{ url_for('showBook') }}">Cancel</a>
		</form>
    </body>
</html>