<!DOCTYPE html>
<html>
    <head>
        <h1>
            Edit Book
        </h1>
    </head>
    <body>
        <p>Name: </p>
		Search:
		<form action="{{url_for('editBook', book_id = book_id)}}" method = 'POST' id = 'Edit Book Title'>
			<input type='text' size='30' name='name' placeholder="{{book_title}}">
			<input type='submit' form = 'Edit Book Title' value='Submit'>
		</form>
    </body>
</html>