<!DOCTYPE html>
<html>
    <head>
        <h1>
            New Book
        </h1>
    </head>
    <body>
        <p>Name: </p>
		<form action="{{url_for('newBook', book_id = book_id)}}" method = 'POST' id = 'New Book'>
            <input type='text' size='30' name='name'>
			<input type='submit' form = 'New Book' value='Create'>
		</form>
    </body>
</html>