<!DOCTYPE html>
<html>
    <head>
        <h1>
            Books
        </h1>
    </head>
    <body>
        {% if books == [] %}
            <p>No books exist</p>	
        {% else %}
            {% for i in books %}
                <div> 
                    {{i.title}} <br/>
                    <a href="{{url_for('editBook', book_id = i.id, book_title = i.title)}}">Edit book</a>    <br/>
                    <a href="{{url_for('deleteBook', book_id = i.id, book_title = i.title)}}">Delete books</a> <br/> <br/>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>